<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title">Tudnivalók</h3>
                <p class="card-category">Információk, önnek!
                    Tudjon meg minnél többet az egészségesebb életmódért.
                </p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="card-title">Tények!</h4>
                        <div class="alert alert-primary">
                            <span>Hogyan is működik a vérnyomás?</span>
                            <app-collapse-basic></app-collapse-basic>
                        </div>
                        <div class="alert alert-danger">
                            <span>Mi az a vérnyomásmérő?</span>
                            <app-collapse-basic></app-collapse-basic>
                        </div>
                        <div class="alert alert-warning" data-notify="container">
                            <span data-notify="message">A magas vérnyomás kockázatai.</span>
                            <app-collapse-basic></app-collapse-basic>
                        </div>
                        <div class="alert alert-success" data-notify="container">
                            <span data-notify="message">Az alacsony vérnyomás kockázatai.</span>
                            <app-collapse-basic></app-collapse-basic>
                        </div>
                        <div class="alert alert-info" data-notify="container">
                            <span data-notify="message">Mi az a pulzus?</span>
                            <app-collapse-basic></app-collapse-basic>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="card-title">Tanácsok!</h4>
                        <div class="alert alert-info">
                            <span>Mit tehetsz a vérnyomásod csökkentése érdekében?</span>
                            <app-collapse-basic></app-collapse-basic>
                        </div>
                        <div class="alert alert-success">
                            <span>Mit tehetsz ha alacsony a vérnyomásod?</span>
                            <app-collapse-basic></app-collapse-basic>
                        </div>
                        <div class="alert alert-warning">
                            <span>Heves szívverés okai.</span>
                            <app-collapse-basic></app-collapse-basic>
                        </div>
                        <div class="alert alert-danger">
                            <span>Alacsony pulzus lehetséges okai.</span>
                            <app-collapse-basic></app-collapse-basic>
                        </div>
                            <div class="alert alert-primary">
                                <span>Magas pulzus lehetséges okai.</span>
                                <app-collapse-basic></app-collapse-basic>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="places-buttons">
                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto text-center">
                                <p class="category">Ha súlyós testi tüneteket észlel magán, akkor hívja a következő számot:</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-10 ml-auto mr-auto">
                            <div class="row" id="mento1">
                                <div class="alert alert-danger" id="mento2">
                                    <h1>104</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
