<h2>Diagram</h2>
<div class="container">
    <div class="stage3">
        <div class="stage2">
            <div class="stage1">
                <div class="highnormal">
                    <div class="normal">
                        <div class="ideal">
                            <div class="low"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="valuebuttons">
<input class="firstvalue" placeholder="Szisztolés érték"/>
<input class="secondvalue" placeholder="Diasztolés érték">
</div>
