<div class="row">
    <div class="col">
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary " id="dropdownBasic1"  ngbDropdownToggle>Nem</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropDown-black">
                <button ngbDropdownItem *ngFor="let option of options;">Nő</button>
                <button ngbDropdownItem>Férfi</button>
                <button ngbDropdownItem>Egyéb</button>
            </div>
        </div>
    </div>
</div>
