<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div class="profile-container">
                        <img (click)="fileInput.click()" class="profile-pic" src="https://img.icons8.com/dusk/64/000000/contract-job.png" alt="profile-picture"/>
                        </div>
                        <h4 class="card-title">Regisztráció</h4>
                        <p class="card-category">Töltse ki a mezőket! (Minden mezőt kötelező kitölteni!)</p>

                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Vezetéknév" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Keresztnév" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email Cím">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Felhasználónév">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Jelszó" type="email">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Jelszó Megerősítés" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Test Magasság (cm)" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Test Súly (kg)" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <app-ngbd-dropdown-basic></app-ngbd-dropdown-basic>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" mat-raised-button (click)="fileInput.click()">Válassz egy kép
                                        file-t!
                                    </button>
                                    <input hidden #fileInput type="file" id="file">
                                    <!-- <div class="form-group">

                                        <div class="form-group">
                                            <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                            <textarea class="form-control" rows="5"></textarea>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Mentés</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
